.logistics-wrapper {
    position: relative;
    padding: 0 25px;
    display: flex;
    width: 100%;
    box-sizing: border-box;
}

.logistics-wrapper *,
.order,
.goods {
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.logistics-wrapper__left {
    width: 40%;
}

.logistics-wrapper__right {
    position: relative;
    padding-left: 15px;
    width: 60%;
}


/*
|--------------------------------
| order
|--------------------------------
*/
.orders-block {
    position: relative;
    padding: 10px;
    padding-top: 20px;
    padding-left: 0;
    width: 100%;
}

.order {
    margin: 0 auto;
    margin-bottom: 5px;
    padding: 5px;
    width: 100%;
    background: #ddd;
    cursor: move;
}

.order:last-child {
    margin-bottom: 0;
}

.order__head {
    margin-bottom: 10px;
    display: flex;
}

.order__num {
    flex: 2;
}

.order__status {
    flex: 1;
}

.order__status__i {
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 5px 10px 5px;
    border-color: transparent transparent #0FD1FF transparent;
}

.order__shipping-time {
    flex: 2;
}


/*
|--------------------------------
| trucks block
|--------------------------------
*/
.topscroll {
    position: absolute;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}
.fake {
    position: absolute;
    height: 1px;
    visibility: hidden;
}

.trucks-block-wrapper {
    padding-right: 5px;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}

.trucks-block {
    padding-top: 20px;
    font-size: 0;
}


/*
|--------------------------------
| truck
|--------------------------------
*/
.truck-outer {
    display: inline-block;
    vertical-align: top;
    width: 300px;
}

.truck {
    margin: 0 5px;
}

.truck:last-child {
    margin-right: 0;
}

.truck__title {
    margin-bottom: 5px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 16px;
    background: #999;
}

.truck__title__name {
    font-size: 22px;
}

.truck__title__count {
    font-size: 14px;
}

.truck__goods {
    font-size: 14px;
}

.goods {
    margin-bottom: 5px;
    padding: 10px;
    background: #ddd;
    cursor: move;
}

.goods__header {
    margin-bottom: 10px;
    overflow: hidden;
}

.goods__header__name {
    float: left;
}

.goods__header__count {
    float: right;
}

.goods__header-bottom {
    margin-bottom: 10px;
    overflow: hidden;
}

.goods__header-bottom__time {
    float: left;
    line-height: 40px;
}

.goods__header-bottom_options {
    float: right;
}


/*
|--------------------------------
| drag and drop
|--------------------------------
*/




/*body {*/
    /*height: 200vh;*/
/*}*/