/* popup */

.b-goods-popup__img {
    margin: 0 auto;
    display: block;
    width: 100%;
}

.b-color-btn._dis,
.b-packing-btn._dis {
    opacity: .5;
}

.b-color-btn._dis:hover,
.b-packing-btn._dis:hover {
    opacity: .9;
}


.new-elem .row {
    margin: 15px 0;
}

.new-elem .b-cart-filter-line {
    margin-bottom: 10px;
}

.new-elem .b-cart-filter-line:last-child {
    margin-bottom: 0;
}

.new-elem .b-cart-filter-line label {
    cursor: pointer;
    transition: all .1s;
}

.new-elem .b-cart-filter-line label:hover {
    transform: scale(1.02);
}

.new-elem .b-cart-filter-line input,
.new-elem .b-cart-filter-line span {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer
}

.new-elem .b-cart-filter-line input {
    margin-right: 5px
}

.new-elem .b-cart-filter-line span {
    margin-right: 15px
}

.new-elem .count-row > * {
    display: flex;
    align-items: center;
    height: 45px;
}

.new-elem .bold {
    font-weight: bold;
}

.oc-shopaholic-loader {
    margin-left: 350px;
    margin-top: 20px;
    display: none;
}

/* ################### Поиск клиента по ФИО и ТЕЛ #################### */

.user_name_search-group,
.user_phone_search-group{
    position: relative;
}

.form__label__dopdown-search-group {
    position: absolute;
    left: 0;
    display: none;
    width: 100%;
    border: 1px solid #e0e0e0;
    border-top: 0;
    background: #fff;
    z-index: 1000;
}

.form__label__dopdown-search-group__i {
    padding: 10px
}

.form__label__dopdown-search-group__i._hover {
    background: #4da7e8;
}