#Form-field-Order-shipping_text_address-group {
    position: relative;
}

.b-cart-form__block__form__label__dopdown {
    position: absolute;
    left: 0;
    display: none;
    width: 100%;
    border: 1px solid #e0e0e0;
    border-top: 0;
    background: #fff;
    z-index: 1000;
}

.b-cart-form__block__form__label__dopdown__i {
    padding: 10px
}

.b-cart-form__block__form__label__dopdown__i._hover {
    background: #4da7e8;
}

.b-cart-form__block__form__label__dopdown__i._hover p {
    color: #000 !important;
}